body {
  /* width: 2480px;
  height: 1196px; */
  font-family: "Mulish", sans-serif;
}

article {
  display: flex;
  justify-content: center;
  margin: 15px;
}

section {
  text-align: center;
  margin: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

h3 {
  margin-top: 37px;
  font-size: 1.6875rem; /* 27px */
}

.actions {
  display: flex;
  justify-content: center;
  width: 60%;
}

.actions p {
  margin: 0 20px;
}

i {
  padding: 0 2px;
}
i.fa-star {
  color: #f69c2d;
}

i.fa-heart {
  color: #e9ecef;
}

.actions,
.short-description {
  margin: 20px auto;
  color: #808080;
  font-size: 1.25rem; /* 20px */
  width: 60%;
}

i.added {
  color: red;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 50px 0;
  font-size: 1.125rem; /* 20px */
  width: 60%;
}

.buttons a {
  text-decoration: none;
  text-shadow: 1px 1px #000000;
  font-weight: 900;
  padding: 10px 40px;
  margin: 0 5px;
  border: 4px solid #000000;
  color: #000000;
}

a:hover {
  opacity: 0.9;
}

a.cart {
  color: #ffffff;
  background-color: #000000;
}
